{% extends "school/base.html" %}

{% block title %}
Класи
{% endblock %}

{% block content %}
    <center>
        <h1>Групи для видалення</h1>
    </center>
    {% if clas %}
    <div class="d-flex flex-wrap gap-3 justify-content-start">
        {% for i in clas %}
            <div class="card mb-3 mt-4 p-4 rounded shadow" style="width: 150px;">
                <form method="POST" action="{% url 'delete_class' i.id %}">
                    {% csrf_token %}
                    <center>
                        <h3>{{ i.name }}</h3>
                        <button type="submit" class="btn" style="background-color: #a52d33; color: white;">Видалити</button>
                    </center>
                </form>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <h3>Нажаль немає данних</h3>
    {% endif %}
{% endblock %}