{% extends "school/base.html" %}

{% block title %}
Предмети
{% endblock %}

{% block content %}
    <center>
        <h1>Усі предмети</h1>
    </center>
    {% if subject %}
        {% for i in subject %}
            <div class="alert alert-warning mt-4">
                    <h3>{{ i.name }}</h3>
            </div>
        {% endfor %}
    {% else %}
        <h3>Нажаль немає данних</h3>
    {% endif %}
    <center>
        <a href="{% url 'create_subject' %}" class="btn btn-success">Додати предмет</a>
    </center>
{% endblock %}